@import 'vars';
@import 'typography';
@import 'angular-material';
@import 'toaster';
@import 'login';
@import 'md-data-table';
@import 'nv-d3';

.card-dashboard md-card {
  margin: 30px;
}
.card-dashboard md-card img {
  max-width: 100%;
  max-height: 100%;
}
.card-dashboard--img {
  max-height: 180px;
  max-width: 180px;
  margin: auto;
}
