<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Filters</h1>
  </md-toolbar>
  <md-content layout-margin>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button ng-click="vm.toggleLeft()" class="md-accent">Close</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/dashboard" class="md-accent">Dashboard</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-href="#/developments" class="md-accent">Developments</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="vm.signOut()" class="md-accent">Sign Out</md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.userRole === 'admin'">
        <md-button ng-href="#/users" class="md-accent">Manage Users</md-button>
      </md-menu-item>
    </md-menu-content>
    <nav-developments ng-if="location.path() === '/developments'"></nav-developments>
  </md-content>
</md-sidenav>
<md-toolbar class="md-whiteframe-1dp">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" ng-click="vm.toggleLeft()">
      <md-icon md-svg-icon="images/menu.svg" aria-label="Menu Icon"></md-icon>
    </md-button>
    <div class="md-title">PMSS</div>
  </div>
</md-toolbar>
