<div class="row">
  <h1>Development</h1>
</div>
<md-card>
<md-content layout-padding>
  <div>
    <form name="devForm">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Development Name</label>
          <input name="name" ng-model="dev.name" md-maxlength="25" required>
          <div ng-messages="devForm.name.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a development name.</div>
            <div ng-message="md-maxlength" class="my-message">Development name too long</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Stock:</label>
          <md-select  ng-model="dev.stock">
            <md-option>New Build</md-option>
            <md-option>Conversion</md-option>
            <md-option>Refurb</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Address 1</label>
          <input name="address1" ng-model="dev.address1" required md-maxlength="25">
          <div ng-messages="devForm.address1.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply an addres</div>
            <div ng-message="md-maxlength" class="my-message">Address too long</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Stock:</label>
          <md-select ng-model="dev.stock2">
            <md-option>Stock</md-option>
            <md-option>Off Plan</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Address 2</label>
          <input name="address2" ng-model="dev.address2" md-maxlength="15">
          <div ng-messages="devForm.name.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">Development name too long</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Expected Completion Date</label>
          <md-datepicker ng-model="dev.expectedCompletionDate"></md-datepicker>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Town</label>
          <input name="town" ng-model="dev.town" md-maxlength="15">
          <div ng-messages="devForm.name.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">Town name too long</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>County</label>
          <input name="county" ng-model="dev.county" md-maxlength="15">
          <div ng-messages="devForm.county.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">County name too long</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Sourcer</label>
          <input name="sourcer" ng-model="dev.sourcer" md-maxlength="10">
          <div ng-messages="devForm.sourcer.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">Sourcer name too long</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Postcode</label>
          <input name="postcode" ng-model="dev.postcode" md-maxlength="10">
          <div ng-messages="devForm.postcode.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">Postcode name too long</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Ist it BMV?</label>
          <md-select ng-model="dev.isItBmv">
            <md-option>Yes</md-option>
            <md-option>No</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Does It Have A Positive Cashflow?</label>
          <md-select ng-model="dev.positiveCashflow">
            <md-option>Yes</md-option>
            <md-option>No</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Does It Have a Strong Rental Demand?</label>
          <md-select ng-model="dev.strongRentalDemand">
            <md-option>Yes</md-option>
            <md-option>No</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Are There Major Employers in the Area?</label>
          <md-select ng-model="dev.majorEmployers">
            <md-option>Yes</md-option>
            <md-option>No</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Do You Think This Is A Good Idea?</label>
          <input name="goodIdea" ng-model="dev.goodIdea" md-maxlength="10">
          <div ng-messages="devForm.goodIdea.$error" role="alert" multiple>
            <div ng-message="md-maxlength" class="my-message">Information too long</div>
          </div>
        </md-input-container>
      </div>
    </form>
  </div>
</md-content>
</md-card>
