<section class="card-dashboard" layout layout-wrap layout-align="center">
  <md-card>
    <div class="card-dashboard--img">
      <img ng-src="images/developments.png" class="md-card-image" alt="Washed Out">
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Developments</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="#/developments">Developments</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <div class="card-dashboard--img">
      <img ng-src="images/new-development.png" class="md-card-image" alt="Washed Out">
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">New Development</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="#/development">New Development</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <div class="card-dashboard--img">
      <img ng-src="images/kpi-dashboard.jpg" class="md-card-image" alt="Washed Out">
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">KPI Dashboard</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010275&STANDALONE=true&privatelink=604410cff4c6b6a457944526a07d34c7&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=false&INCLUDEDESC=false">KPI Dashboard</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <div class="card-dashboard--img">
      <img ng-src="images/report-priority.jpg" class="md-card-image" alt="Washed Out">
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Daily Priority Report</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010568&STANDALONE=true&privatelink=424139fb7779020a2ba7df3f22a9cda2&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=false">Daily Priority Report</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-content layout="row" layout-align="center center">
      <nvd3 options="vm.visitorsChartOptions" data="vm.visitorsChartData"></nvd3>
    </md-content>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Workflows Complete</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010568&STANDALONE=true&privatelink=424139fb7779020a2ba7df3f22a9cda2&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=false">Workflow</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-content layout="row" layout-align="center center">
      <nvd3 options="vm.warningsChartOptions" data="vm.warningsChartData"></nvd3>
    </md-content>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Monthly Revenue</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010568&STANDALONE=true&privatelink=424139fb7779020a2ba7df3f22a9cda2&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=false">Revenue</md-button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-content layout="row" layout-align="center center">
      <nvd3 options="vm.memoryChartOptions" data="vm.memoryChartData"></nvd3>
    </md-content>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Completed Developments</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010568&STANDALONE=true&privatelink=424139fb7779020a2ba7df3f22a9cda2&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=false">Developments</md-button>
    </md-card-actions>
  </md-card>
</section>
