<section>
  <div class="container">
    <div class="row">
      <div class="dashboard">
        <h1>Test User - Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-block">
          <img class="card-img-top" src="images/developments.png" alt="Developments"  style="max-height: 100px;">
          <div class="card-block">
            <a href="developments.html" class="btn btn-primary"><h4 class="card-title">Developments</h4></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <img class="card-img-top" src="images/new-development.png" alt="Developments"  style="max-height: 100px;">
          <div class="card-block">
            <a href="development.html" class="btn btn-primary"><h4 class="card-title">New Development</h4></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <img class="card-img-top" src="images/kpi-dashboard.jpg" alt="KPI Dashboard"  style="max-height: 100px;">
          <div class="card-block">
            <a href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010275&STANDALONE=true&privatelink=604410cff4c6b6a457944526a07d34c7&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=false&INCLUDEDESC=false" class="btn btn-primary" target="_blank"><h4 class="card-title">KPI Dashboard</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 50px">
      <div class="col-sm-4">
        <div class="card card-block">
          <img class="card-img-top" src="images/report-priority.jpg" alt="Daily Priority Report"  style="max-height: 100px;">
          <div class="card-block">
            <a href="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=1210336000000010568&STANDALONE=true&privatelink=424139fb7779020a2ba7df3f22a9cda2&INTERVAL=-1&REMTOOLBAR=true&INCLUDETITLE=true&INCLUDEDESC=false" class="btn btn-primary" target="_blank"><h4 class="card-title">Daily Priority Report</h4></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
